<!DOCTYPE html>
<html lang="en">

<head>
    {{ partial "head.html" . }}
    <title>Календарь мероприятий</title>
</head>

<body>
    <!-- {{ partial "header.html" . }}  -->
    {{ partial "nav.html" . }} {{ partial "header.html" . }}
    <div class="wrapper container">
        <div class="heading">
            <h1>Календарь мероприятий</h1>
        </div>
        <div class="row">
            <section class="col-md-17">
                <div class="row text-center">
                    {{ range where .Data.Pages.ByDate ".Params.tags" "=" "event" }}
                    <div class="col-md-12 text-center">
                        <a href="{{ .Permalink }}">
                        {{ with .Params.banner }}<img src="{{ . }}" class="img-responsive img-rounded" alt="" align="center" style="width: 250px; height: auto;">{{ end }}</a>
                        <h4><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
                        <p class="text-muted">{{ .Params.subtitle }}</p>
                    </div>
                    {{ end }}
                </div>
            </section>
            {{ partial "aside.html" . }}
        </div>
    </div>
    {{ partial "footer.html" . }} {{ partial "js.html" . }}
</body>

</html>
