<!DOCTYPE html>
<html lang="en">

<head>
    {{ partial "head.html" . }}
    <title>Блог</title>
</head>

<body>
    <!-- {{ partial "header.html" . }}  -->
    {{ partial "nav.html" . }} {{ partial "header.html" . }}
    <div class="wrapper container">
        <div class="heading">
            <h1>Блог</h1>
        </div>
        <div class="row">
            <section class="col-md-17">
                    {{ $paginator := .Paginate (where .Data.Pages "Type" "post") }} {{ range $index, $page := $paginator.Pages }} {{if and (eq $paginator.PageNumber 1) (eq $index 0)}}
                    <div class="mdl-card mdl-cell first-post mdl-cell--8-col">
                        {{ .Render "li" }}
                    </div>
                    {{ partial "author-box.html" . }} {{else}}
                    <div class="mdl-card mdl-cell mdl-cell--12-col">
                        {{ .Render "li" }}
                    </div>
                    {{end}} {{ end }} {{ partial "pagination.html" $paginator }}
            </section>
            {{ partial "aside.html" . }}
        </div>
    </div>
    {{ partial "footer.html" . }} {{ partial "js.html" . }}
</body>

</html>
