<!DOCTYPE html>
<html lang="en">
<head>
    {{ partial "head.html" . }}
    <title>{{ .Title }}</title>
</head>

<body>
    <!-- {{ partial "header.html" . }}  -->
    {{ partial "nav.html" . }}
         {{ partial "header.html" . }}
   <div class="wrapper container">
        {{ partial "heading.html" . }}
        <div class="row">
            <section class="col-md-17">
                {{ with .Params.image }}
                        <figure>
                            <img src="{{ .src }}" width="100%" >
                        </figure>
                {{ end }}
                <p>{{ .Content }}</p>
            </section>
            {{ partial "aside.html" . }}
        </div>
    </div>
    {{ partial "footer.html" . }}
    {{ partial "js.html" . }}
</body>

</html>
