<aside class="col-md-7">
<!--     <ul class="list-group submenu">
        <li class="list-group-item">Тут</li>
        <li class="list-group-item"><a href="#">Дополнительное</a></li>
        <li class="list-group-item"><a href="#">Меню</a></li>
        <li class="list-group-item"><a href="#">Ссылки</a></li>
        <li class="list-group-item"><a href="#">И</a></li>
        <li class="list-group-item"><a href="#">Спонсоры</a></li>
    </ul>
 -->
 <!--     <div>
        <a class="twitter-timeline" href="https://twitter.com/xciber" data-widget-id="641190668279353344">Tweets by @xciber</a>
        <script>
        ! function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0],
                p = /^http:/.test(d.location) ? 'http' : 'https';
            if (!d.getElementById(id)) {
                js = d.createElement(s);
                js.id = id;
                js.src = p + "://platform.twitter.com/widgets.js";
                fjs.parentNode.insertBefore(js, fjs);
            }
        }(document, "script", "twitter-wjs");
        </script>
    </div>
 -->    <!--     <div class="panel panel-primary">
        <div class="panel-heading">Our offices</div>
        <div class="panel-body">
            <img src="/images/map.png" class="img-responsive" alt="Our offices">
        </div>
    </div> -->
    <!-- <img data-src="holder.js/300x300?text=Тут \n будет \n логотип"> -->
    <img src="/img/logo.png">
</aside>
