<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-8 twitter">
                <!-- Наша цель - раскрыть скрытый потенциал человеческого организма, с помощью профессионально построенных программ спортивной подготовки. -->
            </div>
            <div class="col-md-4 sitemap">
                <h3>Карта сайта</h3>
                <div class="row">
                    <div class="col-md-12">
                        <a href="/">Главная</a>
                        <a href="/about/mission/">О нас</a>
                        <!-- <a href="/services/">Услуги</a> -->
                    </div>
                    <div class="col-md-12">
                        <!-- <a href="/club/">Клуб</a> -->
                        <!-- <a href="/contact/">Контакты</a> -->
                        <a href="/post/">Блог</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 social">
                <h3>Мы в сети</h3>
                <!-- <a href="http://twitter.com/" class="fa fa-twitter"></a> -->
                <a href="https://www.facebook.com/heavydutyteam" class="fa fa-facebook" target="_blank"></a>
                <!-- <a href="http://plus.google.com/" class="fa fa-google-plus"></a> -->
                <!-- <a href="http://vimeo.com/" class="fa fa-vimeo"></a> -->
                <!-- <a href="http://youtube.com/" class="fa fa-youtube"></a> -->
                <!-- <a href="http://flickr.com/" class="fa fa-flickr"></a> -->
                <a href="http://instagram.com/" class="fa fa-instagram"></a>
                <!-- <a href="/rss/" class="social-icon-small rss"></a> -->
            </div>
            <div class="col-md-8 footer-logo">
                <!-- <a href="/"><img src="" alt="Team #HD logo"></a> -->
                <p>
                    Copyright © 2015 <a href="http://team-hd.ru">Team #HD</a>
                </p>
            </div>
        </div>
    </div>
</footer>
