<header>
    <a href="/"><img src="" alt="#HD"></a>
    <form name="search" action="#" method="get" class="form-inline form-search pull-right">
        <div class="input-group">
            <label class="sr-only" for="searchInput">Search</label>
            <input class="form-control" id="searchInput" type="text" name="search" placeholder="Search">
            <div class="input-group-btn">
                <button type="submit" class="btn btn-primary">GO</button>
            </div>
        </div>
    </form>
</header>
