<nav class="navbar navbar-default navbar-fixed" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">{{ .Site.Title }}</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <!-- About menu  -->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">О нас <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/mission/">Миссия</a></li>
                        <li><a href="#">Команда</a></li>
                    </ul>
                </li>
                <!-- Coaches menu -->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Тренеры <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">По триатлону/Ironman</a></li>
                        <li><a href="#">По велоспорту</a></li>
                        <li><a href="#">По плаванию</a></li>
                        <li><a href="#">По легкой атлетике</a></li>
                        <li><a href="#">Параолимпийский спорт</a></li>
                    </ul>
                </li>
                <!-- Goals -->
                <li><a href="#">Достижения</a></li>
                <!-- Club menu -->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Клуб #HD <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Состав клуба</a></li>
                        <li><a href="#">Календарь мероприятий</a></li>
                        <li><a href="#">Протоколы</a></li>
                    </ul>
                </li>
                <li><a href="#">Услуги</a></li>
                <li><a href="/post/">Блог/Новости</a></li>
            </ul>
            <form class="navbar-form navbar-right" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Отправить</button>
            </form>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
